<ion-split-pane when="md" contentId="settings-menu-main">

    <ion-menu #menu contentId="settings-menu-main" [swipeGesture]="false">
        <app-header [headerMode]="headerMode"
                    (backButtonClickedEvent)="backButtonAction()">
        </app-header>

        <ion-content>
            <ion-menu-toggle autoHide="false">
                <ion-item [routerLink]="['global-settings']"
                          routerDirection="root"
                          routerLinkActive="active-link">
                    <ion-label class="text">
                        Home S
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="settings-menu-main"></ion-router-outlet>

</ion-split-pane>
