@import "src/theme/global";

ion-split-pane {
    --side-min-width: 33%;
    --side-max-width: 33%;
}

ion-title {
    @include title(2.1rem);
}

.text {
    @include text(body-big);
}

.split-pane-visible > .split-pane-side {
    border-right: none !important;
}

.show-menu {
    --min-width: 100%;
    --max-width: 100%;
}

.menu-pane-visible > ion-content {
    border-right: 0.1rem solid $black;
}

ion-content {
    color: $background;

    ion-menu-toggle {
        width: 100%;

        ion-item {
            --border-color: #{$border};
            --inner-padding-end: 0;
            display: flex;
            height: 6rem;
            width: 95%;
            margin: auto;

            ion-label {
                margin: auto auto auto 2%;
                @include title(2rem);
            }

            ion-icon {

                height: 100%;
                width: 2.8rem;
            }
        }
    }
}
