<ion-split-pane when="md" contentId="main">

    <ion-menu contentId="main" menuId="g">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-menu-toggle menu="g" autoHide="false">
                <ion-item [routerLink]="['global-settings']" routerDirection="root" routerLinkActive="active-link">
                    <ion-label class="text">
                        Home S
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>
