<ion-split-pane when="md" contentId="main">

    <ion-menu contentId="main" menuId="g">
        <app-header [headerMode]="headerMode"></app-header>

        <ion-content>
            <ion-menu-toggle menu="g" autoHide="false">
                <ion-item [routerLink]="['global-settings']" routerDirection="root" routerLinkActive="active-link"
                          (click)="jeSuisUnTest()">
                    <ion-label class="text">
                        Home S
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>
