@import "src/theme/global";

.active-link {
    color: $light-blue !important;
}

.content-side-mode {
    width: 100%;
    display: flex;
}

ion-content {
    color: $background;
    overflow: hidden;

    .button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;

        .div-button {
            @include form-box-shadow;

            position: relative;
            display: flex;
            height: 6rem;

            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin: 1rem 1rem 0 1rem;
            background: $white;

            ion-label {
                margin: auto auto auto 1rem;
                @include title(1.8rem);
            }

            ion-icon {
                width: 2.8rem;
                height: 6rem;
            }
        }

        app-footer {
            position: sticky;
            top: 100%;
        }
    }

    .container-side-mode {
        width: $side-menu-width;
        border-right: 0.1rem solid $black;
        float: left;
    }

    .settings-content {
        display: flex;
        overflow: scroll;
        margin-bottom: $large-button-height + 1rem;
    }

    .expend {
        width: 100 - $side-menu-width;
        float: right;
    }
}
