@import "src/theme/global";

ion-split-pane {
    --side-min-width: 33%;
    --side-max-width: 33%;
}

ion-title {
    @include title(21pt);
}

.text {
    @include text(body-big);
}


.split-pane-visible > .split-pane-side {
    border-right: none !important;
}

.menu-pane-visible ion-content {
    border-right: 1px solid $black;
}
