@import "src/theme/global";

@media screen and (max-width: 1200px) {
    form {
        width: 80%;
    }
}

:host {
    position: relative;

    width: 100%;
    height: 100%;

    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        @include title(21pt)
    }

    form {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-label {
            align-self: flex-start;
            justify-content: left;
            @include text(body-grey)
        }

        &:not(.ng-submitted) ion-item {
            --border-color: transparent;
            --highlight-background: transparent !important;
        }

        &.ng-submitted ion-item.ion-invalid {
            --border-color: #{$red};
        }

        ion-item {
            width: 100%;

            ion-input {
                text-align: left;
                @include text();
            }
        }

        .error {
            align-self: flex-start;
            justify-content: left;
            @include text(form-error)
        }

        ion-button {
            --border-radius: 0;

            margin: 3px;
            font-weight: bolder;
            position: fixed;
            bottom: 0;
            width: 99%;

            ion-icon {
                margin: 0 5px;
                max-height: 22px; /* text size */
            }

            &.larger {
                height: 5rem;
            }

            .button-text-wrapper {
                .title {
                    font-size: 16pt;
                }

                .subtitle {
                    font-size: 10pt;
                    font-weight: normal;
                }
            }
        }
    }
}
