@import "src/theme/global";

.line-wrapper {
    height: 5rem;
    border-bottom: 1px solid #CBCBCB;

    @media (max-width: 550px) {
        .date-label {
            flex: 2;
            margin: auto;
            @include text(body-big);
        }
    }

    @media (min-width: 551px) {
        .date-label {
            flex: 1;
            margin: auto;
            @include text(body-big);
        }
    }

    .time-label {
        margin: auto 1rem auto 1rem;
        flex: 1;
        @include text(body-big);
    }

    .period-image {
        height: 5rem * 0.7;
        margin: auto;
    }

    .bold-date {
        @include title(2rem);
    }

    .bold-text {
        @include title(2.2rem);
        margin: auto 1rem auto 0;
    }
}

.grey-background {
    --background: #{$light-blue};
}

.bigger-border {
    border-bottom: 2px solid #CBCBCB;
}
