@import "src/theme/global";

:host {
    position: relative;
    height: $footer-height;
}

.right-border {
    border-right: 0.1rem solid $black;
}

ion-footer {
    height: 100%;

    ion-tabs {
        ion-tab-bar {
            height: 100%;
        }

        ion-icon {
            height: $footer-icon-height;
            color: $black;
        }

        ion-label {
            @include text(body, 1.3rem);
        }
    }

    div {
        height: 100%;
        width: 96%;
        display: flex;
        margin: auto;

        ion-label {
            @include text(body-grey, 1.3rem);
            margin: auto 2% auto 2%;
            text-align: left;
        }

        img {
            display: flex;
            height: 80%;
            margin: auto 2% auto auto;
        }
    }
}
