:host {
    display: flex;
    width: 100%;
    align-items: center;

    .type-toggle {
        transform: translateX(0.5rem);
        margin: 1rem;
        display: flex;
        justify-content: flex-end;

        .show-option,
        .hide-option {
            margin: auto;
            text-align: center;
        }
    }
}
