<ion-content>
    <div slot="fixed"
         class="top-content-wrapper">
        <div class="modal-title">
            {{modalTitle}}
        </div>
        <ion-label class="modal-text">
            Badgeages bruts des {{clockingDisplayInterval}} dernières heures
        </ion-label>
    </div>
    <div *ngIf="isModalLoaded"
         [class.small-margin-bottom]="modalMode === clockingInfoModalModeEnum.KIOSK_MODE"
         class="modal-list-wrapper">
        <app-clocking-info-line *ngFor="let clocking of badgeRegisteredClocking | keyvalue"
                                [isFirst]="clocking.value.isFirst"
                                [dateText]="clocking.value.dateText"
                                [linkedClocking]="clocking.key"
                                [isLastOfDay]="clocking.value.isLastOfDay">
        </app-clocking-info-line>
    </div>
    <div [class.kiosk-mode-wrapper]="modalMode === clockingInfoModalModeEnum.KIOSK_MODE"
         class="bottom-buttons-wrapper"
         slot="fixed">
        <app-form-button *ngIf="modalMode === clockingInfoModalModeEnum.ACTIVE_MODE"
                         class="button"
                         buttonText="Valider"
                         [isLarge]="isValidateButtonLarge"
                         (buttonClickedEvent)="confirmButtonClicked()">
        </app-form-button>
    </div>
</ion-content>
