<ion-header>
    <div>
        <ng-container *ngIf="mode === HeaderMode.PARAMETER_TAB; then leftDivLogoBlock else leftDivBlock"></ng-container>
        <ng-template #leftDivLogoBlock>
            <div class="left-div-logo">
                <img [src]="defaultLogoPath">
            </div>
        </ng-template>
        <ng-template #leftDivBlock>
            <div class="left-div">
                <img
                    *ngIf="mode === HeaderMode.PARAMETER_MENU || mode === HeaderMode.PARAMETER_FULL"
                    [src]="backButtonImagePath"
                    (click)="backButtonClicked()">
            </div>
        </ng-template>

        <ng-container *ngIf="mode === HeaderMode.PARAMETER_TAB; then centerDivEmptyBlock else centerDivBlock"></ng-container>
        <ng-template #centerDivEmptyBlock>
            <div class="center-div-empty">
            </div>
        </ng-template>
        <ng-template #centerDivBlock>
            <div class="center-div">
                <img *ngIf="mode !== HeaderMode.PARAMETER_MENU && mode !== HeaderMode.PARAMETER_TAB"
                     [src]="defaultLogoPath">
            </div>
        </ng-template>

        <div class="right-div">
            <ion-img *ngIf="mode === HeaderMode.KIOSK_MODE"
                     class="button"
                     [src]="disconnectLogoPath"
                     (click)="disconnectButtonClicked()"></ion-img>
            <img *ngIf="mode === HeaderMode.ACCOUNT_CREATION_PAGE" [src]="appLogoPath">
        </div>
    </div>
</ion-header>
