<ion-content>
    <div>
        <div class="left-div">
            <img *ngIf="headerMode === headerModeEnum.PARAMETER_MENU" src="/assets/icon/fleche-gauche.svg"
                 (click)="backButtonClicked()" class="button"/>
        </div>
        <div class="center-div">
            <img src="/assets/img/LogoGT.png"/>
        </div>
        <div class="right-div">
            <img *ngIf="headerMode === headerModeEnum.KIOSK_MODE" src="/assets/icon/deconnexion.svg"
                 (click)="disconnectButtonClicked()" class="button"/>
            <img *ngIf="headerMode === headerModeEnum.CONNECTION_PAGE" src="/assets/img/Logo-HeRa.png"/>
        </div>
    </div>
</ion-content>
