@import "src/theme/global";

:host {
    position: relative;
    height: $header-height;
}

ion-header ion-toolbar {
    --min-height: #{$header-height} !important;
}

ion-toolbar {

    .left-div {
        justify-content: center;
        display: flex;
        margin: auto;
        width: 18%;

        ion-img {
            height: $header-height * 0.7;
        }
    }

    .left-div-logo {
        justify-content: left;
        width: 100%;

        ion-img {
            height: $header-height;
        }
    }

    .center-div {
        justify-content: center;
        margin: auto;
        width: 100%;

        ion-img {
            height: $header-height;
        }
    }

    .right-div {
        justify-content: center;
        display: flex;
        margin: auto;
        width: 18%;

        ion-img {
            height: $header-height * 0.7;
        }
    }
}


