@import "src/theme/global";

:host {
    position: relative;
    height: $header-height;
}

ion-header > div {
    height: #{$header-height} !important;
    display: flex;
    background: $white;
}

.left-div {
    min-width: 18%;
    display: flex;

    img {
        margin: auto auto auto 2%;
        height: $header-height * 0.6;
    }
}

.left-div-logo {
    display: flex;
    justify-content: center;
    flex: 2;

    img {
        margin: 0.5rem auto 0.5rem auto;
    }
}

.center-div {
    display: flex;
    justify-content: center;
    flex: 1;

    img {
        margin: 0.5rem auto 0.5rem auto;
    }
}

.center-div-empty {
    flex: 1;
}

.right-div {
    min-width: 18%;
    display: flex;

    .disconnect-logo {
        margin: auto;
        height: $header-height * 0.6;
    }

    .app-logo {
        margin: auto;
        height: $header-height * 0.7;
    }
}
