<ion-header>
    <div>
        <div *ngIf="headerMode === headerModeEnum.PARAMETER_TAB; then leftDivLogoBlock else leftDivBlock"></div>
        <ng-template #leftDivLogoBlock>
            <div class="left-div-logo">
                <img [src]="defaultLogoPath">
            </div>
        </ng-template>
        <ng-template #leftDivBlock>
            <div class="left-div">
                <img
                    *ngIf="headerMode === headerModeEnum.PARAMETER_MENU || headerMode === headerModeEnum.PARAMETER_FULL"
                    [src]="backButtonImagePath"
                    (click)="backButtonClicked()">
            </div>
        </ng-template>

        <div *ngIf="headerMode === headerModeEnum.PARAMETER_TAB; then centerDivEmptyBlock else centerDivBlock"></div>
        <ng-template #centerDivEmptyBlock>
            <div class="center-div-empty">
            </div>
        </ng-template>
        <ng-template #centerDivBlock>
            <div class="center-div">
                <img *ngIf="headerMode !== headerModeEnum.PARAMETER_MENU && headerMode !== headerModeEnum.PARAMETER_TAB"
                     [src]="defaultLogoPath">
            </div>
        </ng-template>

        <div class="right-div">
            <ion-img *ngIf="headerMode === headerModeEnum.KIOSK_MODE"
                     class="button"
                     [src]="disconnectLogoPath"
                     (click)="disconnectButtonClicked()"></ion-img>
            <img *ngIf="headerMode === headerModeEnum.ACCOUNT_CREATION_PAGE" [src]="appLogoPath">
        </div>
    </div>
</ion-header>
