@import "../../../../theme/global";

ion-button {
    --border-radius: 0;

    flex: 1;
    display: flex;

    ion-icon {
        margin: 0 0.5rem;
        max-height: 2rem;
    }

    &.larger {
        height: $large-button-height;
    }

    &.medium {
        height: $medium-button-height;
    }

    .button-text-wrapper {
        color: $white;

        .title {
            @include title(2.5rem);
            font-weight: bolder;
            text-transform: uppercase;
        }

        .subtitle {
            @include text(body-bold);
            font-size: 1.6rem;
        }
    }
}

.limitedWidth {
    --max-width: 55rem;
}

.swapColor {
    --background: #{$white};
    @include text(body-bold);
    border: solid 0.3rem $dark-blue;
    color: $dark-blue;
    text-transform: none;
}

