<app-header [mode]="headerMode"></app-header>

<ion-content>
    <div class="top-content-wrapper">
        <div class="welcome-text-wrapper">
            <ion-label class="welcome-text mt-6">Bonjour</ion-label>
            <ion-label class="username-text mt-1">{{username}}</ion-label>
        </div>

        <div class="timer-wrapper">
        <span>
            {{currentDatetime | date: 'HH : mm : ss'}}
        </span>
        </div>
    </div>

    <div class="sync-info-wrapper">

        <ion-label class="title-text mt-8">Statut</ion-label>
        <div class="server-status-value mt-1">
            <ion-label class="value-text"
                       [class.bgGreen]="currentSftpStatus === sftpStatusEnum.READY"
                       [class.bgGrey]="currentSftpStatus === sftpStatusEnum.NOT_SET"
                       [class.bgRed]="currentSftpStatus === sftpStatusEnum.ERROR">
                {{currentSftpStatus.toString()}}
            </ion-label>
        </div>

        <ion-label class="title-text mt-8">Prochaine synchronisation</ion-label>
        <ion-label class="value-text mt-1">{{nextSyncDatetime | date: 'dd/MM/YY HH:mm'}}</ion-label>

        <ion-label class="title-text mt-8">Dernière synchronistion</ion-label>
        <ion-label class="value-text mt-1">{{lastSyncDatetime | date: 'dd/MM/YY HH:mm'}}</ion-label>
    </div>
</ion-content>
<app-footer [mode]="footerMode"></app-footer>
