@import "src/theme/global";

ion-content {

    .welcome-text-wrapper {
        height: 11.5rem;
        display: flex;
        flex-direction: column;
        margin-left: 3rem;

        .welcome-text {
            @include text(body-bold);
        }

        .username-text {
            @include text(body-big);
        }
    }

    .welcome-text-wrapper-landscape {
        justify-content: center;
        margin-left: 4rem;
        margin-right: 2rem;
    }

    .active-mode-flex {
        display: flex;

        .flex-1 {
            flex: 1;
        }

        @media (max-width: 950px) {
            .flex-2 {
                flex: 3;
            }
        }

        @media (min-width: 951px) {
            .flex-2 {
                flex: 2;
            }
        }

    }

    .timer-wrapper {
        background: $blue;
        height: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 950px) {
            span {
                @include title(6rem);
                text-align: center;
                color: $white;
            }
        }

        @media (min-width: 951px) {
            span {
                @include title(7.5rem);
                text-align: center;
                color: $white;
            }
        }
    }

    .sync-info-wrapper-portrait {
        flex-direction: column;
        padding-left: 6rem;
    }

    .sync-info-wrapper-landscape {
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        flex-direction: row;
    }

    .sync-info-wrapper-portrait,
    .sync-info-wrapper-landscape {
        display: flex;
        padding-bottom: 1rem;
        background: $white;

        .sync-elem-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;

            .title-text {
                @include text(body-bold);
            }

            .server-status-value {
                height: 3.5rem;

                .value-text {
                    padding: 0.5rem 1.5rem;
                }

                .bg-green {
                    background-color: $success20;
                }

                .bg-grey {
                    background-color: $grey20;
                }

                .bg-red {
                    background-color: $red20;
                }
            }

            .value-text {
                @include text();
            }

            .center-text {
                text-align: center;
            }
        }
    }
}
