@import "src/theme/global";

:host {
    flex: 1;
}

.clocking-settings-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 1rem 1rem 1rem 1rem;
    }

}
