<div class="clocking-settings-container">
    <div class="setting-title" *ngIf="showTitle">
        Traitement du badgeage
    </div>

    <form [formGroup]="form">
        <app-form-input [formControlName]="storageDurationFormControlName"
                        [inputName]="storageDurationFieldName"
                        [endText]="storageDurationEndText">
        </app-form-input>

        <app-form-button fillScreenWidth="true"
                         swapColor="true"
                         buttonText="Export des données">
        </app-form-button>

        <app-form-input [formControlName]="displayClockingFromFromControlName"
                        [inputName]="displayClockingFromFieldName"
                        [endText]="displayClockingFromEndText">
        </app-form-input>

        <app-form-input [formControlName]="delayBetweenTwoClockingFormControlName"
                        [inputName]="delayBetweenTwoClockingFieldName"
                        [endText]="delayBetweenTwoClockingEndText">
        </app-form-input>

        <app-form-input [formControlName]="popupDisplayDurationFormControlName"
                        [inputName]="popupDisplayDurationFieldName"
                        [endText]="popupDisplayDurationEndText">
        </app-form-input>
    </form>
</div>
