@import "variables";

@mixin title($font-size: 2.2rem) {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    color: $black;
    font-size: $font-size;
}

@mixin text($type: body, $font-size: 0) {
    font-family: 'Open Sans', serif;
    font-style: normal;

    @if ($type == body-bold) {
        font-weight: 600;
    } @else {
        font-weight: normal;
    }

    @if ($type == form-error) {
        color: $red;
        font-size: 1.3rem;

    } @else {
        @if ($type == body-grey) {
            color: $grey;
        } @else {
            color: $black;
        }

        @if($font-size == 0) {
            @if ($type == body-big) {
                font-size: 1.8rem;
            } @else {
                font-size: 1.6rem;
            }
        } @else {
            font-size: $font-size;
        }
    }
}

@mixin form-box-shadow() {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.16);
}
