@import "variables";

@mixin title($font-size: 23pt) {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    color: $black;
    font-size: $font-size;
}

@mixin text($type: body) {
    font-family: 'Open Sans', serif;
    font-style: normal;

    @if ($type == body-bold) {
        font-weight: 600;
    } @else {
        font-weight: normal;
    }

    @if ($type == form-error) {
        color: $red;
        font-size: 14pt;

    } @else {
        @if ($type == body-grey) {
            color: $grey;
        } @else {
            color: $black;
        }

        @if ($type == body-big) {
            font-size: 18pt;
        } @else {
            font-size: 16pt;
        }
    }
}
