// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

//Color
$white: #ffffff;
$black: #000000;
$dark-blue: #030F4C;
$blue: #0087CD;
$light-blue: #E6E8F0;
$success: #2FC2AB;
$success20: rgba(47, 194, 171, 0.2);//#2FC2AB with 20% opacity
$red: #D73353;
$red20: rgba(215, 51, 83, 0.2); //#D73353 with 20% opacity
$grey: #666666;
$grey20: rgba(102, 102, 102, 0.2); //#666666 with 20% opacity
$background: #F2F2F4;
$light: $white;
$border: #EFEFEF;

$base-colors: (
    "primary": $dark-blue,
    "secondary": $blue,
    "tertiary": $light-blue,
    "success": $success,
    "warning": $red,
    "danger": $red,
    "dark": $grey,
    "medium": $background,
    "light": $light,
);

//Header
$header-height: 65px;

//Footer
$footer-height: 6.5rem;
$footer-icon-height: 2.6rem;

//Form
$normal-field-height: 5.5rem;
$medium-field-height: 8.5rem;
$large-field-height: 12rem;
$large-button-height: 9rem;
$medium-button-height: 5.5rem;

//Parameter menu
$side-menu-width: 33%;

//Clocking info modal
$top-content-height: 10rem;
$active-mode-bottom-content-height: $medium-button-height + 2rem;
$kiosk-mode-bottom-content-height: 2rem;

@function toRGBParams ($color) {
    @return red($color) + ", " + green($color) + ", " + blue($color);
}

:root {
    @each $name, $value in $base-colors {
        $contrast-color: $white;
        --ion-color-#{$name}: #{$value};
        --ion-color-#{$name}-rgb: #{toRGBParams($value)};
        --ion-color-#{$name}-contrast: #{$contrast-color};
        --ion-color-#{$name}-contrast-rgb: #{toRGBParams($contrast-color)};
        --ion-color-#{$name}-shade: #{adjust-color($value, $lightness: -10%)};
        --ion-color-#{$name}-tint: #{adjust-color($value, $lightness: 10%)};
    }
}
