/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "variables";
@import "fonts";
@import "mixins";

@for $i from 1 through 5 {
    .mt-#{$i} {
        margin-top: #{$i * 0.5}rem !important;
    }
}

html {
    //default font size is 16px. By multiplying it by 0.625 we change it's value to 10 which is way easier to as
    // base value for all size.
    font-size: 62.5%;
}

ion-content {
    --background: #{$background};
}

.setting-title {
    text-align: center;
    margin: 1rem auto 1rem auto;
    @include title(2rem);
}

form {
    .normal-field {
        --min-height: #{$normal-field-height};
        min-height: $normal-field-height;
    }

    .medium-field {
        --min-height: #{$medium-field-height};
    }

    .large-field {
        --min-height: #{$large-field-height};
    }
}

.setting-fixed-at-bottom {
    background: $background;
    position: sticky;
    top: 100%;
    z-index: 1;
    display: flex;

    .bottom-button {
        flex: 1;
        margin: 0 1rem auto 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
