/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "variables";
@import "fonts";
@import "mixins";

@for $i from 1 through 12 {
    //mt = margin-top
    .mt-#{$i} {
        margin-top: #{$i * 0.5}rem !important;
    }

    //ml = margin-left
    .ml-#{$i} {
        margin-left: #{$i * 0.5}rem !important;
    }

    //mr = margin-right
    .mr-#{$i} {
        margin-right: #{$i * 0.5}rem !important;
    }
}

html {
    //default font size is 16px. By multiplying it by 0.625 we change it's value to 10 which is way easier to use as
    // a base value for all size.
    font-size: 62.5%;
}

.clocking-info-modal {
    /*
    &::part(backdrop) {
        background-color: $white;
    }
    */

    @media screen and (min-height: 1000px) and (orientation: portrait) {
        &::part(content) {
            width: 95%;
            height: 50%;
        }
    }

    @media screen and (max-height: 1001px) and (orientation: portrait) {
        &::part(content) {
            width: 95%;
            height: 60%;
        }
    }

    @media screen and (min-width: 901px) and (orientation: landscape) {
        &::part(content) {
            width: 67rem;
            height: 70%;
        }
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
        &::part(content) {
            width: 75%;
            height: 90%;
        }
    }
}

ion-modal {
    &.auto-height {
        .ion-page {
            position: relative;
            display: block;
            contain: content;

            .inner-content {
                max-height: 50rem;
                overflow: auto;
                padding: 1rem;
            }
        }
    }

    @media screen and (min-width: 851px) and (orientation: landscape) {
        &.auto-height {
            --height: auto;
            --max-width: 60rem;
        }
    }

    @media screen and (min-width: 401px) and (max-width: 850px) and (orientation: landscape) {
        &.auto-height {
            --height: auto;
            --max-width: 75%;
        }
    }

    @media screen and (max-width: 400px) and (orientation: landscape) {
        &.auto-height {
            --height: auto;
            --max-width: 95%;
        }
    }

    @media screen and (orientation: portrait) {
        &.auto-height {
            --height: auto;
            --max-width: 95%;
        }
    }
}

ion-content {
    --background: #{$background};
}

.setting-title {
    text-align: center;
    margin: 1rem auto 1rem auto;
    @include title(2rem);
}

.error {
    @include text(form-error);
    margin: 0 0.5rem 1rem 0.5rem;
}

.formSubmitted {
    .ng-invalid,
    .invalid {
        .field-wrapper {
            --border-color: #{$red};
            --highlight-background: #{$red};
            --border-width: 0.15rem;
        }
    }
}

form {
    .normal-field {
        --min-height: #{$normal-field-height};
        min-height: $normal-field-height;
    }

    .medium-field {
        --min-height: #{$medium-field-height};
    }

    .large-field {
        --min-height: #{$large-field-height};
    }
}

.setting-fixed-at-bottom {
    background: $background;
    position: sticky;
    top: 100%;
    z-index: 1;
    display: flex;

    .bottom-button {
        flex: 1;
        margin: 0 1rem auto 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
