<div class="global-settings-container">
    <div class="setting-title" *ngIf="showTitle">
        Géneral
    </div>

    <form [formGroup]="form" [class.formSubmitted]="isSubmitted">
        <input #inputImage hidden="true" type="file" name="TOTO" (change)="updateLogo($event)">
        <app-form-actionable [fieldName]="logoSelectionFieldName"
                             [imagePath]="logoSelectionFieldLogo"
                             (fieldActioned)="updateLogoButtonClicked()">
        </app-form-actionable>

        <app-form-actionable [fieldName]="updateUserInfoFieldName"
                             (fieldActioned)="updateAdminInfoButtonClicked()">
        </app-form-actionable>

        <app-form-text-area [formControlName]="kioskMessageFormControlName"
                            [fieldName]="kioskMessageFieldName"
                            [maxLength]="kioskMessageMaxLength"
                            [size]="kioskMessageSize">
        </app-form-text-area>
        <span class="error" *ngIf="isSubmitted && getErrorControl().kioskMessage.errors?.maxlength">
                Ce champ est limité à {{kioskMessageMaxLength}} caractères
        </span>

        <app-form-text-area [formControlName]="kioskCommunicationFormControlName"
                            [fieldName]="kioskCommunicationFieldName"
                            [maxLength]="kioskCommunicationMaxLength"
                            [size]="kioskCommunicationSize">
        </app-form-text-area>
        <span class="error" *ngIf="isSubmitted && getErrorControl().kioskCommunication.errors?.maxlength">
                Ce champ est limité à {{kioskCommunicationMaxLength}} caractères
        </span>

        <app-form-toggle [fieldName]="secondaryModeToggleName"
                         [currentToggleOption]="currentToggleOption"
                         [tabConfig]="tabConfig"
                        (activeKeyChange)="secondaryModeToggleValueChanged($event)">
        </app-form-toggle>

        <app-form-range [formControlName]="volumeRangeFormControlName"
                        [fieldName]="volumeRangeFieldName">
        </app-form-range>
    </form>
</div>
