@import "src/theme/global";

.range-field {
    margin-bottom: 0.5rem;
    @include form-box-shadow();
    background: $white;

    --padding-start: 1rem;

    ion-label {
        flex: 1;
        margin: auto 5rem auto auto;
        @include text(body-grey);
    }
}
