@import "src/theme/global";

.range-field {
    margin-bottom: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.16);
    background: $white;

    --padding-start: 1rem;

    ion-label {
        flex: 1;
        margin: auto 5rem auto auto;
        @include text(body-grey);
    }
}
