<app-header [mode]="headerMode"></app-header>
<ion-content>
        <div id="container">
            <strong>la détection du NFC n'est pas active sur cet appareil !</strong>
            <br>
            <div id="text">
                <p>Allez dans les paramètres de votre téléphone pour l'activer puis relancer cette application</p>
                <p>Vous pouvez aussi utiliser le bouton ci-dessous pour ouvrir les paramètres</p>
            </div>
            <app-form-button class="button"
                             buttonText="Paramètres NFC"
                             [isLarge]="true"
                             (buttonClickedEvent)="openNfcParameters()">

            </app-form-button>
        </div>
</ion-content>
<app-footer [mode]="footerMode"></app-footer>

