@import "src/theme/global";

.form-dropdown {
    --border-width: 0.1rem;
    --padding-end: 1rem;
    --inner-padding-end: 0;
    --padding-start: 0;

    display: flex;
    margin-bottom: 0.5rem;
    @include form-box-shadow();

    ion-label {
        margin: auto auto auto 1rem;
        @include text(body-grey);
    }
}
