<app-header [headerMode]="currentHeaderMode" (backButtonClickedEvent)="backButtonAction()"></app-header>
<ion-content>
    <div class="page-title" *ngIf="isPortraitMode">
        Géneral
    </div>
    <div class="form-div">
        <ion-item>
            <ion-label>
                Logo*
            </ion-label>
            <ion-img src="/assets/img/LogoGT.png"></ion-img>
            <ion-icon src="/assets/icon/modifier.svg" (click)="test1()"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-label>
                Identifiant & Mot de passe*
            </ion-label>
            <ion-img *ngIf="false" src="/assets/img/LogoGT.png"></ion-img>
            <ion-icon src="/assets/icon/modifier.svg" (click)="test1()"></ion-icon>
        </ion-item>
    </div>

    <form>
        <ion-item class="medium-field text-field">
            <ion-label position="stacked">Message accueil Kiosque</ion-label>
            <ion-input maxlength="25"></ion-input>
        </ion-item>

        <ion-item class="large-field text-field">
            <ion-label position="stacked">Message communication</ion-label>
            <ion-textarea inputmode="text" maxlength="150"></ion-textarea>
        </ion-item>

        <ion-item class="toggle-field">
            <ion-label>
                Mode*
            </ion-label>
            <ion-toggle
                name="haha">
            </ion-toggle>
        </ion-item>

    </form>
</ion-content>
