<app-header [mode]="currentHeaderMode" (backButtonClickedEvent)="backButtonAction()"></app-header>
<ion-content>
    <div class="page-title" *ngIf="isPortraitMode">
        Géneral
    </div>

    <form>
        <app-form-actionable [fieldName]="logoSelectionFieldName"
                             [imagePath]="logoSelectionFieldLogo"
                             (fieldActioned)="test1()">
        </app-form-actionable>

        <app-form-actionable [fieldName]="updateUserInfoFieldName"
                             (fieldActioned)="test1()">
        </app-form-actionable>

        <app-form-text-area [fieldName]="kioskMessageFieldName"
                            [maxLength]="kioskMessageFieldMaxLength"
                            [size]="kioskMessageFieldSize">
        </app-form-text-area>

        <app-form-text-area [fieldName]="communicationMessageFieldName"
                            [maxLength]="communicationMessageFieldMaxLength"
                            [size]="communicationMessageFieldSize">
        </app-form-text-area>

        <app-form-toggle [fieldName]="secondaryModeToggleFieldName"
                         [currentToggleOption]="currentToggleOption"
                         [tabConfig]="tabConfig">
        </app-form-toggle>

        <app-form-range [fieldName]="volumeRangeFieldName">
        </app-form-range>
    </form>
    <div [hidden]="hideFormButton"
         slot="fixed"
         class="fixed-at-bottom">
        <app-form-button class="bottom-button"
                         buttonText="Valider"
                         iconPath="/assets/icon/tick-blanc.svg"
                         isLarge="true"
                         (buttonClickedEvent)="formSubmitted()">
        </app-form-button>
    </div>
</ion-content>
