@import "src/theme/global";

.page-title {
    text-align: center;
    margin: 1rem auto 1rem auto;
    @include title(2rem);
}

ion-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 1rem 1rem ($large-button-height + 1.2rem) 1rem;

        .normal-field {
            --min-height: #{$normal-field-height};
        }

        .medium-field {
            --min-height: #{$medium-field-height};
        }

        .large-field {
            --min-height: #{$large-field-height};
        }

        .image {
            --border-width: 0.1rem;
            --inner-padding-end: 0;
            --padding-start: 0;

            display: flex;
            margin-bottom: 0.5rem;
            box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.16);

            ion-label {
                margin: auto auto auto 1rem;
                @include text(body-grey);
            }

            ion-img {
                height: $normal-field-height * 0.8;
                margin: auto 1rem auto 1rem;
            }

            ion-icon {
                margin: auto 1rem auto 1rem;
                height: $normal-field-height * 0.6;
            }
        }

        .text-field {
            --padding-start: 1rem;
            margin-bottom: 0.5rem;
            box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.16);

            ion-label {
                text-align: left;
                transform: scale(1.0) translateY(50%);
                @include text(body-grey)
            }

            ion-input {
                text-align: left;
                @include text();
            }

            ion-textarea {
                text-align: left;
                @include text();
            }
        }

        .toggle-field {
            --padding-start: 0;
            --inner-padding-end: 0;
            margin-bottom: 0.5rem;
            box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.16);

            ion-label {
                margin: auto auto auto 1rem;
                @include text(body-grey);
            }

            .toggle {
                flex: 1;
                margin: 0.5rem 1rem 0.5rem auto;
            }
        }

        .range-field {
            margin-bottom: 0.5rem;
            box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.16);
            background: $white;

            --padding-start: 1rem;

            ion-label {
                flex: 1;
                margin: auto 5rem auto auto;
                @include text(body-grey);
            }
        }
    }

    .fixed-at-bottom {
        background: $background;
        position: sticky;
        top: 100%;
        z-index: 1;
        display: flex;

        .bottom-button {
            flex: 1;
            margin: 0 1rem auto 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


