<app-header [mode]="currentHeaderMode"
            [refreshHeader$]="refreshHeader$"
            (backButtonClickedEvent)="backButtonAction()">
</app-header>
<ion-content>
    <div class="page-title" *ngIf="isPortraitMode">
        Géneral
    </div>

    <form [formGroup]="globalSettingsForm">
        <input #inputImage hidden="true" type="file" name="TOTO" (change)="updateLogo($event)">
        <app-form-actionable [fieldName]="logoSelectionFieldName"
                             [imagePath]="logoSelectionFieldLogo"
                             (fieldActioned)="updateLogoButtonClicked()">
        </app-form-actionable>

        <app-form-actionable [fieldName]="updateUserInfoFieldName"
                             (fieldActioned)="updateAdminInfoButtonClicked()">
        </app-form-actionable>

        <app-form-text-area [formControlName]="kioskMessageFormControlName"
                            [fieldName]="kioskMessageFieldName"
                            [maxLength]="kioskMessageFieldMaxLength"
                            [size]="kioskMessageFieldSize">
        </app-form-text-area>

        <app-form-text-area [formControlName]="kioskCommunicationFormControlName"
                            [fieldName]="kioskCommunicationFieldName"
                            [maxLength]="kioskCommunicationFieldMaxLength"
                            [size]="kioskCommunicationFieldSize">
        </app-form-text-area>

        <app-form-toggle [fieldName]="secondaryModeToggleFieldName"
                         [currentToggleOption]="currentToggleOption"
                         [tabConfig]="tabConfig">
        </app-form-toggle>

        <app-form-range [formControlName]="volumeRangeFieldFormControlName"
                        [fieldName]="volumeRangeFieldName">
        </app-form-range>
    </form>
    <div [hidden]="hideFormButton"
         slot="fixed"
         class="fixed-at-bottom">
        <app-form-button class="bottom-button"
                         buttonText="Valider"
                         iconPath="/assets/icon/tick-blanc.svg"
                         isLarge="true"
                         (buttonClickedEvent)="formSubmitted()">
        </app-form-button>
    </div>
</ion-content>
