<div class="inner-content">
    <div class="modal-title">
        {{modalTitle}}
    </div>
    <form [formGroup]="form" [class.formSubmitted]="isSubmitted">
        <div class="mt-4">
            <app-form-password-input [formControlName]="passwordFormControlName"
                                     [fieldName]="passwordFieldName"
                                     [maxLength]="passwordMaxLength"
                                     [size]="passwordFieldSize"
                                     [class.invalid]="!passwordValid"
                                     (valueChangeEvent)="passwordValueChanged()"
                                     titleOnTop="true">
            </app-form-password-input>
            <span class="error" *ngIf="isSubmitted && getErrorControl().password.errors?.required">
                Entrez un mot de passe
            </span>
            <span class="error" *ngIf="isSubmitted && !passwordValid">
                Mot de passe incorrecte
            </span>
        </div>
    </form>
    <div class="mt-12 buttons-wrapper">
        <app-form-button buttonText="Annuler"
                         [swapColor]="true"
                         [isLarge]="false"
                         (buttonClickedEvent)="cancelButtonClicked()"
                         class="mr-1">

        </app-form-button>
        <app-form-button buttonText="Valider"
                         [isLarge]="false"
                         (buttonClickedEvent)="confirmButtonClicked()">

        </app-form-button>
    </div>
</div>
