<div>
    <ion-label *ngIf="titleOnTop"
               class="field-name">
        {{fieldName}}
    </ion-label>
    <ion-item [class.normal-field]="size === formSizeEnum.NORMAL"
              [class.medium-field]="size === formSizeEnum.MEDIUM"
              [class.large-field]="size === formSizeEnum.LARGE"
              class="text-field field-wrapper">
        <ion-label *ngIf="!titleOnTop"
                   position="stacked">
            {{fieldName}}
        </ion-label>

        <app-password-button [class.translateContent]="!titleOnTop">
            <ion-input class="text-input"
                       [(ngModel)]="content"
                       (ngModelChange)="textChanged($event)"
                       [maxlength]="maxLength"
                       [type]="formInputTypeEnum.PASSWORD"
                       (ionFocus)="markAsTouched()">
            </ion-input>
        </app-password-button>
    </ion-item>
</div>
