<ion-item [class.normal-field]="size === formSizeEnum.NORMAL"
          [class.medium-field]="size === formSizeEnum.MEDIUM"
          [class.large-field]="size === formSizeEnum.LARGE"
          class="text-field field-wrapper">
    <ion-label position="stacked">{{fieldName}}</ion-label>

    <app-password-button>
        <ion-input class="text-input"
                   [(ngModel)]="content"
                   (ngModelChange)="textChanged($event)"
                   [maxlength]="maxLength"
                   [type]="formInputTypeEnum.PASSWORD"
                   (ionFocus)="markAsTouched()">
        </ion-input>
    </app-password-button>
</ion-item>
