<app-header [mode]="headerMode"
            [refreshHeader$]="refreshHeader$">
</app-header>

<ion-content>
    <div class="top-content-wrapper"
         [class.active-mode-flex]="!isPortraitMode">
        <div class="welcome-label-wrapper"
             [class.flex-1]="!isPortraitMode"
             [class.welcome-label-wrapper-landscape]="!isPortraitMode">
            <ion-label class="welcome-label">Bonjour</ion-label>
            <ion-label class="username-label mt-1">{{username}}</ion-label>
        </div>

        <div class="timer-wrapper"
             [class.flex-2]="!isPortraitMode">
        <span>
            {{currentDatetime | date: 'HH : mm : ss'}}
        </span>
        </div>
    </div>

    <div [class.sync-info-wrapper-portrait]="isPortraitMode"
         [class.sync-info-wrapper-landscape]="!isPortraitMode">

        <div class="sync-elem-wrapper">
            <ion-label class="title-label mt-8"
                       [class.center-text]="!isPortraitMode">
                Statut
            </ion-label>
            <div class="server-status-value mt-1"
                 [class.center-text]="!isPortraitMode">
                <ion-label class="value-label"
                           [class.center-text]="!isPortraitMode"
                           [class.bg-green]="currentSftpStatus === sftpStatusEnum.READY"
                           [class.bg-grey]="currentSftpStatus === sftpStatusEnum.NOT_SET"
                           [class.bg-red]="currentSftpStatus === sftpStatusEnum.ERROR">
                    {{currentSftpStatus.toString()}}
                </ion-label>
            </div>
        </div>

        <div class="sync-elem-wrapper">
            <ion-label class="title-label mt-8"
                       [class.center-text]="!isPortraitMode">
                Prochaine synchronisation
            </ion-label>
            <ion-label class="value-label mt-1"
                       [class.center-text]="!isPortraitMode">
                {{nextSyncDatetime | date: 'dd/MM/YY HH:mm'}}
            </ion-label>
        </div>

        <div class="sync-elem-wrapper">
            <ion-label class="title-label mt-8"
                       [class.center-text]="!isPortraitMode">
                Dernière synchronisation
            </ion-label>
            <ion-label class="value-label mt-1"
                       [class.center-text]="!isPortraitMode">
                {{lastSyncDatetime | date: 'dd/MM/YY HH:mm'}}
            </ion-label>
        </div>
    </div>
</ion-content>
<app-footer [mode]="footerMode"
            (backgroundModeActivated)="setupForBackgroundMode()">
</app-footer>
